*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 1rem;
    display: flex;
}

h1{
    font-size: 3rem;
    color: red;
    
}

#list{
    display: flex;
    flex-direction: column;
    color: green;
    margin-bottom: 1rem;
}
.color{
    margin-bottom: .5rem;
    margin-left: 2.5rem;
    font-size: 3rem;
}